//-- Шрифты

// $ff-title: 'Roboto Condensed', sans-serif;
$ff-title: 'Days One', 'Roboto Condensed', sans-serif;
$ff-text: 'Mulish', sans-serif;


//-- Цветовая палитра проекта
// $color_light-blue: #E3E6E8;
$bgcolor_bady: #F7F7F7;
$title_color: #665436;
$title_colorBlack: #000000;
$text_color: #000000;
$text_colorMain: #665436;
$border_color: #B3A99B;













